In [2]:
# import libraries 
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [43]:
# choose data
shark_attacks = pd.read_csv('../data/attacks.csv', encoding='latin-1').dropna()

In [50]:
# select subset of data we are interested in
shark_sub = shark_attacks[['Country', 'Type', 'Activity']]

shark_sub.head()

      Country        Type       Activity
0   AUSTRALIA  Unprovoked  Body boarding
5     BAHAMAS  Unprovoked     Snorkeling
12        USA     Invalid        Surfing
22  AUSTRALIA  Unprovoked        Surfing
23        USA  Unprovoked        Surfing

In [73]:
shark_pie = shark_sub.groupby([pd.Grouper(key = 'Country')]).count().sort_values(by = 'Activity', 
                                                                                 ascending= False).head(10) # top 10 countries 

shark_pie.head()

              Type  Activity
Country
USA            693       693
AUSTRALIA      303       303
SOUTH AFRICA   217       217
BAHAMAS         26        26
NEW ZEALAND     20        20

In [113]:
# set up bokeh plotting tools
from math import pi
from collections import Counter
from bokeh.palettes import Category20c
from bokeh.plotting import figure, show, output_notebook
from bokeh.transform import cumsum, factor_cmap
import pandas as pd
from bokeh.models import ColumnDataSource, HoverTool

# select source of data
df = shark_pie

# Calculate the angles and add column for each country
df['angle'] = df['Activity'] / df['Activity'].sum() * 2 * pi

# Add colors from Category20c palette and make new column 
df['color'] = Category20c[10]


p = figure(height=350, 
           title = "Activity Distribution by Country", 
           toolbar_location = None,
           tooltips = "@country: @activity", 
           x_range=(-0.5, 1.0))

p.wedge(x=0, y=1, radius=0.4,
        start_angle=cumsum('angle', # set angle of slice
                           include_zero = True), 
                           end_angle=cumsum('angle'), # set angle of slice 
        line_color = 'white', 
        fill_color = 'color', 
        legend_field = 'Country', 
        source = df) # source of the data

# hover tool to see what country
hover = HoverTool(tooltips=[('Country', '@Country')]) # make sure @ matches the column name in dataframe
p.add_tools(hover)


p.axis.axis_label = None
p.axis.visible = False
p.grid.grid_line_color = None

show(p)